.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    .chart-container{
        position: relative;
        margin: auto;
        height: 40.5vh;
        width: 50%;
    }
}
